<!DOCTYPE html>
<html lang="ko,en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>채소숲</title>
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="../static/css/reset.css"/>
  <link rel="stylesheet" href="../static/css/common.css"/>
  <link rel="stylesheet" href="../static/css/main-map.css"/>
  <link rel="stylesheet" href="../static/css/map-label.css">
  <link rel="stylesheet" href="../static/css/search.css">
  <link rel="stylesheet" href="../static/css/kind.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/script.js" defer></script>
  <script src="../static/js/tab.js" defer></script>
  <script src="../static/js/map.js" defer></script>
  <script src="../static/js/search.js" defer></script>
  <script src="../static/js/kind.js" defer></script>
</head>