<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8">
</head>
<style>

</style>
<body>
<nav style="margin-bottom: 100px; height: 100px;">
  <div class="nav-wrapper" style="background-color: #89a831">
    <a href="#" class="brand-logo" style="margin-left: 50px;"><img src="../static/img/logo.png" alt="로고"/></a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <form class="col s12" action="/signup" method="POST">
      <div class="row ">
        <div class="input-field col s3 push-s4 ">
          <i class="material-icons prefix ">account_circle</i>
          <input placeholder="이름을 작성해주세요." id="nickname" type="text" name="id" class="validate"
                 data-length="10" onblur="nameCheck()" onfocus="nameCheck()" onchange="nameCheck()" required>
          <label for="nickname">이름</label>
          <span class="helper-text" id="nick-error" data-success="올바른 이름 입니다."></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3 push-s4">
          <i class="material-icons prefix">security</i>
          <input placeholder="비밀번호를 작성해주세요." id="password" type="password" name="password" class="validate" onblur="pwdCheck()"
                 onfocus="pwdCheck()" onchange="pwdCheck()" required>
          <label for="password">Password</label>
          <span class="helper-text" id="pwd-error" data-success="통과"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3 push-s4">
          <i class="material-icons prefix">check</i>
          <input placeholder="비밀번호를 한번 더 작성해주세요." id="password2" name="password2" type="password" class="validate"
                 onblur="pwdConfirmCheck()"
                 onfocus="pwdConfirmCheck()" onchange="pwdConfirmCheck()" required>
          <label for="password2">Confirm Password</label>
          <span class="helper-text" id="pwd-confirm-error" data-success="통과"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3 push-s4">
          <i class="material-icons prefix">email</i>
          <input placeholder="이메일을 입력해주세요." id="email icon_prefix" name="email" type="email" class="validate" onblur="submitCheck()"
                 onfocus="submitCheck()" onchange="submitCheck()" required>
          <label for="email icon_prefix">Email</label>
          <span class="helper-text" data-error="올바르지 않은 이메일 형식 입니다." data-success="통과"></span>
        </div>
      </div>
      <div class="col s3 push-s5">
        <button id="submit-confirm" class="btn waves-effect waves-light disabled" type="submit" name="action">가입하기
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../static/js/materialize.min.js"></script>
<script src="../static/js/validate.js"></script>
</body>
</html>